<footer class="footer_css_tricks">
    <div class="container text-center fst-italic">
      <hr class="mb-xl-5" />
      <span class="text-muted">UG Final Year Project Work @2023 </span>
      <!-- <br /> -->
      <span class="text-muted"
        >Jadavpur University, Department of Information Technology,
        Kolkata</span
      >
      <br />
      <span class="text-muted">Developed By : </span>
      <a href="/credits" target="_blank">Click here to see the full list!</a>
      <br />
      <span class="text-muted"
        >Under the guidance of Prof. Utpal Kumar Ray
        <a href="mailto: utpal.ray@jadavpuruniversity.in"
          >utpal.ray@jadavpuruniversity.in</a
        >
        <!-- <br /> -->
        , Mentorship of Mr Sujay Kumar Paul
        <a href="mailto: sujaykumarpaul@gmail.com"
          >sujaykumarpaul@gmail.com</a
        >
      </span>
    </div>
  </footer>